/* Banner */

#banner {
	@include vendor('align-items', 'center');
	@include vendor('background-image', 'url("../images/barge_canal.jpg")');
	@include vendor('display', 'flex');
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	border-bottom: 0 !important;
	cursor: default;
	margin-bottom: -3.25em;
	position: relative;
	top: -3.25em;
	height: 50vh;
	min-height: 25em;
	max-height: 35em;

	&:after {
		@include vendor('pointer-events', 'none');
		background-color: _palette(accent1);
		content: '';
		display: block;
		height: 100%;
		left: 0;
		opacity: 0.75;
		position: absolute;
		top: 0;
		width: 100%;
		z-index: 1;
	}

	> .inner {
		padding: 0 !important;
		position: relative;
		z-index: 2;

		img {
			width: 100%;
			max-width: 800px;
			object-fit: "contain";
			margin: auto;
			display: flex;
		}
	}

	.body.is-loading & {
		&:after {
			opacity: 1.0;
		}

		> .inner {
			@include vendor('filter', 'blur(0.125em)');
			@include vendor('transform', 'translateX(-0.5em)');
			opacity: 0;
		}
	}

	@include breakpoint(large) {
		background-attachment: scroll;
	}

	@include breakpoint(small) {
		@include padding(3em, 0, (3em, 0, 3em, 0));
		height: auto;
		margin-bottom: -2.75em;
		max-height: none;
		min-height: 0;
		top: -2.75em;
	}

	@include breakpoint(xsmall) {
		@include padding(4em, 0, (2em, 0, 2em, 0));
	}
}