/* Contact */

#contact {
	border-bottom: solid 1px _palette(border);
	padding: 1.5rem;
	overflow-x: hidden;
	display: flex;
	flex-direction: column;

	.major {
		margin: auto;
	}

	.contact-methods {
		padding: 2rem;
		display: flex;
		flex: 1;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-around;
	}

	.contact-method {
		display: flex;
		margin: 2rem;
		flex-direction: column;
		justify-content: center;
	
		a {
			border-bottom: none;
		}

		span {
			margin: auto;
		}

		.method-type {
			display: flex;
			flex-direction: row;
			justify-content: center;

			i {
				display: flex;
				flex-shrink: 1;
				padding: 0.75rem 1rem 0 0;
			}

			h3 {
				display: flex;
				margin: 0;
				width: auto;
			}
		}
	}

	@include breakpoint(large) {
		.contact-method {
			.method-type {
				i {
					padding: 0.5rem 1rem 0 0;
				}
			}
		}
	}

	@include breakpoint(small) {

	}
}