#header {
  padding: 0.75rem;
  background-color: _palette(accent1);
  z-index: 100;

  &.invisible {
    opacity: 0;
    max-height: 0;
    transition: max-height 0.25s ease-in, opacity 0.25s linear;
  }

  &.visible {
    opacity: 1;
    max-height: 100px;
    transition: max-height 0.25s ease-in, opacity 0.25s linear;
  }

  .inner {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    padding: 0;
  }

  img {
    width: 100%;
    max-width: 300px;
    margin: auto;
  }
}